.landing-img{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.area-under-landing-img{
    padding: 0 50px;
}

.project-title{
    padding-top: 150px;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .06em;
    line-height: 1.5em;
    text-align: left;
}

.intro-section{
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .project-description{
        width: 55%;
        // margin-right: 15px;

    }
    .technologies-used{
        width: 40%;
    }
}

.feature-container{
    display: flex;
    margin-bottom: 100px;
    .feature-left-container{
        width: 50%;
        padding-right: 15px;
        .feature-img{
            width: 100%;
            object-fit: contain;
            // padding-top: 0;
            // margin-top: 0;
            top: 0;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
        }
    }

    .feature-right-container{
        padding-left: 15px;
        width: 40%;
        .feature-title{
            text-transform: uppercase;
            color: #d1d1d1;
            // font- weight: bold;
            font-size: 2.5rem;
        } 
        .feature-description-text{
            padding-bottom: 10px;
        }  
    }
    
    .view-page-btn{
        margin-top: 15px;
        background: #272727;
        padding: 10px 20px;
        border-radius: 5px;

        .view-page-btn-text{
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: 15px;
        }
    }
}

