@import '../../styles';

.home-body{
    padding: 0 70px;
}

.home-page-p {
    text-align: left;
}

.landing-intro-container {
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // landing text
    h2 {
        font-family: proxima nova, sans-serif;
        font-size: 40px;
        font-weight: 200;
        color: #222;
        line-height: 1.2;
    }
    .landing-left-side{
        padding-right: 40px;
    }
    .landing-right-side{
        .my-img{
            background-image: url('../../media/1231ProfPic.svg');
            height: 250px;
            width: 250px;
            // border-radius: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            object-fit: center;
        }
    }
   
}
.down-arrow{
    background-image: url('../../media/noun_Arrow\ Down_1594877.svg');
    height: 30px;
    width: 30px;
    margin-bottom: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

// header 
.home-body > h2 {
    padding-top: 10px;
    font-family: futura-pt, sans-serif;
    font-size: 3rem;
    font-weight: 200;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
}
