@import '../../styles';

.home-body{
    padding: 0 10%;
}

.home-page-p {
    text-align: left;
}

.landing-intro-container {
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // landing text
    h2 {
        font-family: proxima nova, sans-serif;
        font-size: 40px;
        font-weight: 200;
        color: #222;
        line-height: 1.2;
    }
    .landing-left-side{
        padding-right: 40px;
    }
    .landing-right-side{
        .my-img{
            background-image: url('../../media/1231ProfPicV4svg.svg');
            height: 250px;
            width: 250px;
            // border-radius: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            object-fit: center;
        }
    }
   
}
.down-arrow{
    background-image: url('../../media/noun_Arrow\ Down_1594877.svg');
    height: 30px;
    width: 30px;
    margin-bottom: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

// header 

.type-titles {
    display: flex;
    justify-content: space-between;
}
.toggle-title {
    font-family: futura-pt, sans-serif;
    font-size: 3rem;
    font-weight: 200;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
}
.toggle-title-active{
    font-family: futura-pt, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #D1D1FB;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    border-bottom: 5px solid #D1D1FB;
}


button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 20px;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h3{
        padding-top: 10px;
        font-family: futura-pt;
        font-weight: 300;
        font-style: normal;
        line-height: 1.6em;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        letter-spacing: .06em;
        color: #404040;
    }
}

.individual-project-container{
    width: 48%;
    margin-bottom: 30px;
}
.design {
    display: none;
}

// .code {
//     display: none;
// }
.project-thumbnail-img{
    // height: 200px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.project-title{
    // margin: 0 auto;
    text-align: center;
}


