@import '../../styles';

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 35px;
}
.header-left-side {
    a {
        font-family: futura-pt, sans-serif;
        font-weight: 600;
        font-style: normal;
        color: black;
        font-size: 35px;
    }
}

.header-right-side-nav {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a{
            font-family: futura-pt, sans-serif;
            font-weight: 500;
            font-style: normal;
            color: #111;
            padding: 8px 0;
            letter-spacing: 1px;
            line-height: 1.6em;
            font-size: 13px;
        }
        a:first-child{
            padding-left: 15px;
        }
    }
    
}
