.design-page-container{
    padding: 0 75px;
}
.youtube-video-container{
    text-align: center;
    padding: 17px 0;

}
.personal-project-title{
    color: #FFBBBB;
    font-family: futura-pt;
    font-style: normal;
    line-height: 1.5em;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 17px;
}

.personal-section-title{
    padding-top: 68px;
    @extend .personal-project-title;
    font-size: 3rem;
    text-align: left;
}

.personal-section-title-and-container{
    margin: 0 auto;
    padding-bottom: 68px;
}

.project-description-intro-container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    .personal-description-left-side-container{
        // margin: 0 auto;
        width: 45%;
    }
    .personal-description-right-side-container{
        // margin: 0 auto;
        width: 35%;
        // align-self: flex-end;
        // padding-left: 20px;
        .description-title-bold{
            padding-bottom: 10px;
        }
        .description-text {
            padding-bottom: 10px;
        }
        
    }
}

// .right-side-text{
//     width: 45%;

// }

// .section-subtitle{
//     text-transform: uppercase;
//     font-family: proxima-nova;
//     line-height: 1.8em;
//     font-size: 20px;
//     color: #575757;
//     font-weight: bold;
//     padding-bottom: 15px;
// }

.design-page-bulletted-list{
    list-style-type: disc;
}

li ::before {
    padding-left: 20px;
}

.personal-section-title-and-container-under-description{
    width: 45%;
}

.personal-section-title-and-container-under-description-2{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .personal-section-left-side-img-container{
        width: 45%;
        .iphone-siri-img{
            width: 100%;
        }
        .wearable-sketch-img{
            width: 100%;
        }
    }
    .personal-section-right-side-container{
        width: 45%;
        margin-left: 50px;
    }
}
.personal-section-title-and-container-under-description-3{
    @extend .personal-section-title-and-container-under-description-2;
    flex-direction: column;
    .personal-section-text-and-img-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .text-left-side{
            width: 45%;           
        }
        .iphone-siri-img{
            width: 100%;
        }
    }
}

.second-paragraph{
    padding-top: 15px;
}

.section-sub-subtitle{
    text-transform: none;
    padding-top: 15px;

}

.sprint-label{
    padding-top: 45px;
    font-size: 2.6rem;
    padding-bottom: 15px;
}

.set-of-two-imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.sprint-img{
    margin: 15px 0;
    width: 48%;
    object-fit: contain;
    height: 100%;
}

// .sprint-img .left-img{
//     margin-right: 5px;
// }

.sprint-img-second-row{
    // margin: 15px 0;
    width: 99%;
    object-fit: contain;
    height: 100%;
}

.sprint-3-img{
    margin-top: 20px;
}

.personal-section-title-and-container-under-description-3{
    .img-label{
        margin-top: 15px;
    }
}

.section-divider-line{
    margin: 68px 0;
}

.half-sized-text{
    width: 60%;
}

.back-to-projects-link{
    margin: 30px 0;
    color: #D1D1FB;
}